#CodeDisplay{
	  position: relative;
	  width: 76%;
	  left:12%;
	  z-index: 20;
	  height:95%;
	  overflow-y:scroll;
	  overflow-x: hidden;
	  background-color: #ffffff;
	  margin:20px;
	  text-align: center;

	}
	

	#Code li{
		padding:10px 10px 5px 10px;
		margin:15px;/*this is on all sides double between elements*/
		text-align: center;
		position:relative;
		float:left;
		list-style-type: none;
		vertical-align: middle;

		width: 150px; 
		height: 150px; 
		

	}

	@media all and (max-width: 700px) {

	#Code li{
		float:bottom;
		width: 80%; 
		height:auto;

		min-height:auto;
		max-height:auto;
		max-width:auto;
		min-width:auto;

		left:0px;

		padding:2px;
		margin:10px;/*this is on all sides double between elements*/
	}


}
