  /* Main changes for mobile*/ 
  body {
     font-size:16pt;
	}

	h1{
	     font-size:28pt;
	     max-height: 90px;
	}

.title{/*blank out the clip path because it sort of loads but is broken*/
	-webkit-clip-path:""; 
        clip-path:"";
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
   	-webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
   	height:auto;
   	width:76%;
   	margin:20px;
}

.title h1{
	margin:0px 0px 0px 50px;
	
}

 .titleEdge{
   	display:none;
   	visibility:none;
   	left:0;
   }
   
   .menuEdge{
   	display:none;
   	visibility:none;
   	
   }
   
   .movingBox{
   	width:76%;
   	display;inline;
   	margin:20px;
   }
   
   #main{
   	display:inline;
   	width:auto;
   	left:12%;
   }
   
   
   #menu ul li a {
   	margin:20px 0px 0px 0px;
  	-webkit-clip-path:""; 
   	clip-path:"";
   	clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
   	-webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
   	width:80px;
   }

   #BigTitle{
   	display:none;
   }

   #about {
    position:fixed;
    display:none;
    left:70px;
    top:50px;
    width:60%;
    height:75%;
    overflow-y:scroll;

	}
	
.closeX{/*also triggers toggleLayer('overlay') on click but is positioned [X] in the corner for those who look for an x to click*/
        position:fixed;
        display:block;
        z-index:30;
        top:6.5%;
        left:86%;
    }
	
/* Art section changes for mobile*/ 
	#Art{
		top:2px;
		
	}

	#Art li{
		float:bottom;
		width: 90%; 
		height:auto;

		min-height:auto;
		max-height:auto;
		max-width:auto;
		min-width:auto;

		left:0px;

		padding:2px;
		margin:2px;/*this is on all sides double between elements*/
	}

	#NextArrow{
		top:20%;
		right:0%;
	}
	
	#PreviousArrow{
		top:20%;
		left:0%;
	}
	
	#PreviousArrow img, #NextArrow img{
		height:50%;
		width:40%;
	}
	
	#deviantArtGallery {
		width:100%;
	  left:-5%;
	}
	
	#liveDeviationImage img{
		width:100%;
	}
	
	#liveDeviation{
		position:relative;
		width: 99%;
		left:0px;
		text-align: center;
	}

/* Code section changes for mobile*/ 

	#Code{
		top:2px;
		
	}


	#Code li{
		float:bottom;
		width: 80%; 
		height:auto;

		min-height:auto;
		max-height:auto;
		max-width:auto;
		min-width:auto;

		left:0px;

		padding:2px;
		margin:10px;/*this is on all sides double between elements*/
	}

/* Design section changes for mobile*/ 
	#Design{
		top:2px;
		
	}


	#Design li{
		float:bottom;
		width: 90%; 
		height:auto;

		min-height:auto;
		max-height:auto;
		max-width:auto;
		min-width:auto;

		left:0px;

		padding:2px;
		margin:2px;/*this is on all sides double between elements*/
	}

		#Design img {/*width flexibility for the linked display images*/
		width:80%;
		height:auto;
	}

	#behanceGallery {
		width:100%;
	  left:-5%;
	}

	#behanceGallery img {
		width:80%;
		height:auto;
	}

	.galleryDescription{
		display:block;
	}
	
	.galleryDescription h1{
		display:block;
		margin:0px 0px 50px 0px;
	}

	
	iframe { 
	width: 80%; 
	height: 350px; 
	}


