  /* Main changes for mobile*/ 
  body {
     font-size:18pt;
	}

	h1{
	     font-size:30pt;
	     max-height: 100px;
	}

	.title{/*blank out the clip path because it sort of loads but is broken*/
	-webkit-clip-path:""; 
   clip-path:"";
   clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
   	-webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
   	height:auto;
   	width:auto;
   	max-width:200px;
}

 .titleEdge{
   	display:none;
   	visibility:none;
   }
   
   .menuEdge{
   	display:none;
   	visibility:none;
   	
   }
   
   .movingBox{
   	width:auto;
   }
   
   #main{
   	display:visible;
   	width:auto;
   	left:10%;
   }
   
   
   #menu ul li a {
   	margin:20px 0px 0px 0px;
  	-webkit-clip-path:""; 
   	clip-path:"";
   	clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
   	-webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
   }

   #BigTitle{
   	display:none;
   }

   #about {
    position:fixed;
    display:none;
    left:100px;
    top:50px;
    width:60%;
    height:75%;
    overflow-y:scroll;

	}
	
/* Art section changes for mobile*/ 
	#Art li{
		float:bottom;
		width: 80%; 
		height:auto;

		min-height:auto;
		max-height:auto;
		max-width:auto;
		min-width:auto;

		left:0px;

		padding:2px;
		margin:2px;/*this is on all sides double between elements*/
	}

	#PreviousArrow, #NextArrow{
		top:95%;
	}

/* Code section changes for mobile*/ 

	#Code li{
		float:bottom;
		width: 80%; 
		height:auto;

		min-height:auto;
		max-height:auto;
		max-width:auto;
		min-width:auto;

		left:0px;

		padding:2px;
		margin:10px;/*this is on all sides double between elements*/
	}

/* Design section changes for mobile*/ 
	#Design li{
		float:bottom;
		width: 80%; 
		height:auto;

		min-height:auto;
		max-height:auto;
		max-width:auto;
		min-width:auto;

		left:0px;

		padding:2px;
		margin:2px;/*this is on all sides double between elements*/
	}

		#Design img {/*width flexibility for the linked display images*/
		width:80%;
		height:auto;
	}

	#behanceGallery {
		width: 90%;
	  left:5%;
	}

	#behanceGallery img {
		width:80%;
		height:auto;
	}

	.galleryDescription{
		display:block;
	}

	#html5-video-holder{
		width:192px;
		height:144px;
	}

